@import "./mixins.scss";

$primary-color: rgb(43, 181, 255);
$disabled-color: #dddddd;

$black: rgb(46, 46, 46);
$white: #ffffff;

$text-color: #333333;
$text-color-light: #666666;
$text-color-lighter: #999999;

$border-color: #dddddd;
$border-radius: 4px;

$image-bg: #f4f4f4;
